*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	height: 100%;
	background-image: url("img/degrade.png");
	background-size: 100%;
	background-color: #e6a0a0;
	padding: 2%;
}

canvas{
	background-color: white;
}

h1{
	font-family: 'Work Sans', sans-serif;
	text-align: center;
	align-items: center;
	width:40%;
	margin: auto;
	margin-bottom: 3%;
	border: 3px solid #91283B;
	background-color:#D58490;
	border-style: inset;
	border-radius: 15px;
	font-size: 70px;
	color: #9E0E40;
}

#game{
	display: flex;
	width: 100%;
	justify-content: center;
}

#canvas{
	background-color: white;
	z-index: 1;
	border: 3px solid #9E0E40;
	border-style: inset;
	border-radius: 15px;
}

p, input{
	font-family: 'Work Sans', sans-serif;
	margin-top: 10px;
	color: #9E0E40;
	font-size: 20px;
}

#size-bloc input{
	width: 50px;
	display: inline-block;
}

#info{
	padding-left: 15px;
}
#size-bloc p{
	display: inline-block;
}

.clear{
	clear: both;
}
