*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	height: 100%;
	background-image: url("img/degrade.jpg");
	background-repeat: no-repeat;
}

canvas{
	background-color: white;
}

h1{
	font-family: 'Work Sans', sans-serif;
	text-align: center;
	align-items: center;
	width:50%;
	margin: auto;
	margin-bottom: 3%;
	margin-top: 3%;
	border: 3px solid #91283B;
	background-color:#D58490;
	border-style: inset;
	border-radius: 15px;
	font-size: 70px;
	color: #9E0E40;
}

#game{
	display: flex;
	width: 100%;
	justify-content: center;
}

#canvas{
	background-color: white;
	z-index: 1;
	border: 3px solid #9E0E40;
	border-style: inset;
	border-radius: 15px;
}